<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Hi. I'm Riley.</p>
  </div>
  
  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4><%= "Elsewhere" %></h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/griggril000" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://facebook.com/riley.grigg.1" target="_blank"><%= fa_icon "facebook" if logged_in?(:site_admin, :family, :friends) %></a></li>
      <li><a href="https://instagram.com/griggril000" target="_blank"><%= fa_icon "instagram" if logged_in?(:site_admin, :friends) %></a></li>
      <li><a href="https://snapchat.com/add/griggril000" target="_blank"><%= fa_icon "snapchat" if logged_in?(:site_admin, :friends) %></a></li>
      <li><a href="https://pinterest.com/griggril000" target="_blank"><%= fa_icon "pinterest" if logged_in?(:site_admin, :friends) %></a></li>
      <li><a href="https://plus.google.com/u/0/+RileyGrigg" target="_blank"><%= fa_icon "google-plus" if logged_in?(:site_admin, :family, :friends) %></a></li>
    </ol>
  </div>
</div>
