<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Satisfy" rel="stylesheet">
    <link href="https://riley-student-workspace-griggril000.c9users.io/assets/application.scss" rel="stylesheet">

    <meta name="keywords" content="<%= @seo_keywords %>" />
    
    <%= favicon_link_tag 'favicons/favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          
          <%= video_tag(
            'https://scontent-amt2-1.cdninstagram.com/t50.2886-16/21019015_331338590648114_4945391121762091008_n.mp4?dl=1',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
            poster: 'https://lh3.googleusercontent.com/xHwvf2pJ-LlqGKO1_HEOQzyssh0k2mBV7lpeQbXiKvJrbB1mdhzcjmhuOodhPaO2g3f7Hz4H7rUxzdZ1mhU5lieEQTRvAseetlG34nrP3PMPoWo9TslU0giD9mf-Z32v9r6giMIx-AHuOdJNjr0aBhUXRswWuPqyqRKFInGCwcsAOYW6CDS2wjDNF6-oJt2fRnVAmM7id076chNxk22ufDQpaWNnp53R03Ky09hpQPcoWKJ3IkF_P_U4Uxl4QfSTZCM_h8xuTt3NW8CyeNIbRRj30bZTHUzN4pOvHfP_ww_eHkSb_nLZaoqvN2oYvKCh26semVUvUum-ntMRPA1r8E8VZgirpXSA1E5PsjFzZKIvC8vtCngx4Ae9tHYpDwGzK8Z_ey_iIL63tMHpoLE5rSTEwE6T51tzcs2bI5rNFX8EMa0DoH-pEWVs16K_EubLx6TEh_i2aEUNtVh70bRRe52BuI_GuXHudgB9C6LEUxp4Rvmng03B2_JohNSyJ-lVaz3iVyEM4yMMk-xrBwCQIVsnd0L4gbnnY6EHrbEpkTKcERORYcCG5P3f3hLqO8iopzNjtHrw7GZqJl6xVeHEEXxZNs_MN-vlXS8BcpAMit4OI0NRQ4_PgGKWO8yn5GjR7903uK3zF2cQ7nImKZhtV4Ysm42DbDUoYpBDdL9YdA4y5gw=w1364-h1818-no'
            )
            %>
            
          <%= audio_tag(
            'https://riley-student-workspace-griggril000.c9users.io/assets/Despacito-Luis_Fonsi_Flute_Cover.mp3',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
            hidden: true
            )
            %>

          <%= render "shared/application_nav" %>

          <%= yield %>

          <%= render "shared/application_footer" %>

          <%= alerts %>

          <%= source_helper("application") %>

        </div>
      </div>
    </div>
  </body>
</html>
