<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Satisfy" rel="stylesheet">
    <link href="https://riley-student-workspace-griggril000.c9users.io/assets/application.scss" rel="stylesheet">

    <meta name="keywords" content="<%= @seo_keywords %>" />
    
    <%= favicon_link_tag 'favicons/favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          
          <%= video_tag(
            'https://scontent-amt2-1.cdninstagram.com/t50.2886-16/21019015_331338590648114_4945391121762091008_n.mp4?dl=1',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
            poster: 'https://scontent-amt2-1.cdninstagram.com/t50.2886-16/21019015_331338590648114_4945391121762091008_n.mp4?dl=1'
            )
            %>
            
          <%= audio_tag(
            'https://riley-student-workspace-griggril000.c9users.io/assets/Despacito-Luis_Fonsi_Flute_Cover.mp3',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
            hidden: true
            )
            %>

          <%= render "shared/application_nav" %>

          <%= yield %>

          <%= render "shared/application_footer" %>

          <%= alerts %>

          <%= source_helper("application") %>

        </div>
      </div>
    </div>
  </body>
</html>
